<footer
  data-turbo-permanent
  class="@container w-full shrink-0 bg-neutral-900 text-neutral-50"
>
  <div class="dev-parent dev-child flex flex-col items-center justify-center">
    <!-- Footer Nav -->
    <nav
      class="flex w-full flex-col justify-center gap-y-4 p-8 @md:grid @md:max-w-md @md:grid-cols-2 @md:gap-4 @xl:max-w-xl @xl:grid-cols-3"
    >
      <div class="flex flex-col py-4 @md:col-span-2 @xl:col-span-3">
        <span class="text-3xl font-light">Pradhana.</span>
        <span class="text-neutral-50/60">
          {{ partial "navigation/footer-quotes.html" . }}
        </span>
      </div>
      <a href="/support">Support</a>
      <a href="/guestbook">Guestbook</a>
      <a href="/changelog">Changelog</a>
      <a href="/colophon">Colophon</a>
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-of-service">Terms of Service</a>
      <a href="/disclaimer">Disclaimer</a>
    </nav>

    <!-- Footer Copyright -->
    <div
      class="flex w-full flex-col justify-center gap-y-4 border-t border-neutral-700 p-8 @md:max-w-md @xl:max-w-xl @xl:flex-row @xl:justify-between"
    >
      <a
        target="_blank"
        href="mailto:{{ .Site.Params.author.email }}"
        class="flex items-center gap-x-2 hover:underline hover:underline-offset-4"
        ><i data-lucide="mail" class="size-5"></i
        >{{ .Site.Params.author.email }}
      </a>
      <span class="text-neutral-50/60"
        >&copy; {{ now.Year }} {{ .Site.Params.author.name }}</span
      >
    </div>
  </div>
</footer>
