<header
  data-turbo-permanent
  class="fixed top-0 z-40 h-16 w-full border-b border-neutral-200 bg-neutral-50"
>
  <div class="flex h-16 items-center justify-between gap-x-8 p-4">
    <!-- Left Button -->
    <div class="shrink-0">
      <button
        id="openSidebar"
        title="Open Menu"
        class="group flex size-8 cursor-pointer items-center justify-center rounded-md border border-neutral-300/0 transition-colors ease-in-out hover:border-neutral-300"
      >
        <i
          class="iconoir-dots-grid-3x3 text-2xl transition-transform duration-300 ease-in-out group-hover:scale-90"
        ></i>
      </button>
    </div>

    <!-- Breadcrumbs -->
    <div class="w-full max-w-[50%] shrink">
      {{- partial "components/breadcrumbs.html" . -}}
    </div>

    <!-- Right Button -->
    <div class="flex shrink-0 items-center gap-x-2">
      <!-- Search -->
      <button
        title="Search"
        class="group flex size-8 cursor-pointer items-center justify-center rounded-md border border-neutral-300/0 transition-colors ease-in-out hover:border-neutral-300"
      >
        <i
          class="iconoir-search text-2xl text-neutral-900/75 transition-all duration-300 ease-in-out group-hover:scale-90 group-hover:text-neutral-900"
        ></i>
      </button>

      <!-- Table of Contents -->
      <!-- Only shown for the single page, not the list page -->
      {{- if and (eq .Section "writings") .IsPage -}}
        <button
          title="Table of Contents"
          class="group flex size-8 cursor-pointer items-center justify-center rounded-md border border-neutral-300/0 transition-colors ease-in-out hover:border-neutral-300"
        >
          <i
            class="iconoir-list text-2xl text-neutral-900/75 transition-all duration-300 ease-in-out group-hover:scale-90 group-hover:text-neutral-900"
          ></i>
        </button>
      {{- end -}}
    </div>
  </div>
</header>
