<header
  data-turbo-permanent
  class="fixed top-0 z-40 h-16 w-full border-b border-neutral-200 bg-neutral-50/80 backdrop-blur-sm"
>
  <!-- Header Container -->
  <div class="flex h-16 items-center justify-between gap-x-8 p-4">
    <!-- Left Button -->
    <div class="shrink-0">
      <button
        id="openSidebar"
        title="Open Menu"
        class="group flex size-8 cursor-pointer items-center justify-center rounded-md border border-neutral-300/0 transition-colors ease-in-out hover:border-neutral-300"
      >
        <i
          data-lucide="menu"
          class="size-6 text-neutral-900/75 transition-transform ease-in-out group-hover:scale-90"
        ></i>
      </button>
    </div>

    <!-- Breadcrumbs -->
    <div class="w-full max-w-[50%] shrink">
      {{- partial "components/breadcrumbs.html" . -}}
    </div>

    <!-- Right Button -->
    <div class="flex shrink-0 items-center gap-x-2">
      <!-- Search -->
      <button
        title="Search"
        class="group flex size-8 cursor-pointer items-center justify-center rounded-md border border-neutral-300/0 transition-colors ease-in-out hover:border-neutral-300"
      >
        <i
          data-lucide="search"
          class="size-6 text-neutral-900/75 transition-transform ease-in-out group-hover:scale-90"
        ></i>
      </button>

      <!-- Table of Contents -->
      <!-- Only shown for single/leaf page in Writings section -->
      {{- if and (eq .Section "writings") (.IsPage) -}}
        <button
          title="Table of Contents"
          class="group flex size-8 cursor-pointer items-center justify-center rounded-md border border-neutral-300/0 transition-colors ease-in-out hover:border-neutral-300"
        >
          <i
            data-lucide="table-of-contents"
            class="size-6 text-neutral-900/75 transition-transform ease-in-out group-hover:scale-90"
          ></i>
        </button>
      {{- end -}}
    </div>
  </div>
</header>
