<!-- Pagefind -->
<script src="/pagefind/pagefind-ui.js"></script>

<!-- Pagefind Search -->
<div id="search"></div>

<!-- Pagefind Script -->
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({
      element: "#search",
      pageSize: 50,
      showSubResults: false,
      showImages: false,
      excerptLength: 20,
      resetStyles: true,
      translations: {
        placeholder: "Type to search",
        zero_results: "Couldn't find [SEARCH_TERM]",
      },
    });
  });
</script>
