{{ $chaos := shuffle (slice "chaos1" "chaos2" "chaos3" "chaos4" "chaos5"
"chaos6" "chaos7" "chaos8" "chaos9" "chaos10" "chaos11" "chaos12") }} {{
$randomChaos := index $chaos 0 }}

<div class="absolute inset-0 -z-50 overflow-hidden">
  <img
    src="/{{ $randomChaos }}.svg"
    alt="Chaos Background Pattern"
    class="absolute -z-40 h-dvh w-full translate-x-3/5 scale-150 -rotate-12 opacity-30 md:h-screen md:w-full md:translate-x-2/5 md:scale-110 md:rotate-6 lg:-top-16 lg:h-[1100px] lg:w-[1100px] lg:translate-x-2/5 lg:scale-100 lg:rotate-12 xl:translate-x-3/5"
  />
</div>
