{{ define "main" }}
  <section>
    <article class="mb-12">
      <h1 class="mb-4!">{{ .Title }}</h1>
      <div class="flex flex-wrap gap-2">
        {{ partial "components/tech-stacks.html" . }}
      </div>
    </article>

    <div
      class="@container w-full 2xl:grid 2xl:grid-cols-[1fr_auto_1fr] 2xl:gap-x-12"
    >
      <div class="hidden py-2 2xl:block">
        {{ partial "components/toc.html" . }}
      </div>

      <article>{{ .Content }}</article>

      <div class="hidden"></div>
    </div>

    {{ partial "components/giscus.html" . }}
  </section>
{{ end }}
