{{ define "main" }}
  <section data-pagefind-body>
    <!-- Page Heading -->
    <article
      class="mb-16 lg:max-w-3xl lg:text-center xl:max-w-4xl 2xl:max-w-5xl"
    >
      <h1 class="">{{ .Title }}</h1>
      <div
        class="mb-4 flex w-full items-center justify-start gap-x-4 text-sm lg:justify-center"
      >
        <a
          href="/writings/welcome-to-my-digital-garden/#writing-types"
          class="not-prose flex cursor-help items-center gap-x-2 p-1 hover:underline hover:underline-offset-2"
          >{{ partial "components/section-icon.html" . }}{{ .Params.section_type | title }}
        </a>
        <i data-lucide="dot" class="size-4"></i>
        <a
          href="/writings/welcome-to-my-digital-garden/#growth-stages"
          class="not-prose flex cursor-help items-center gap-x-2 p-1 hover:underline hover:underline-offset-2"
          >{{ partial "components/stage-icon.html" . }}{{ .Params.stage | title }}
        </a>
      </div>
    </article>

    <!-- Page Content -->
    <div
      class="@container w-full 2xl:grid 2xl:grid-cols-[1fr_auto_1fr] 2xl:gap-x-12"
    >
      <!-- Page Content - ToC -->
      <div class="hidden px-8 py-2 2xl:block">
        {{ partial "components/toc.html" . }}
      </div>

      <!-- Page Content - Main Content -->
      <article>
        {{ .Content }}
        <a
          href="/writings"
          rel="up"
          aria-label="Back to Writings"
          class="mt-16! flex items-center gap-x-2"
          ><i data-lucide="arrow-left" class="size-5"></i>Back to Writings</a
        >
      </article>

      <!-- Page Content - Share -->
      <div
        class="hidden space-y-8 px-8 py-2 text-right text-sm text-neutral-900/50 2xl:block"
      >
        <div class="flex flex-col gap-y-2">
          <span class="font-bold">Read time</span>
          <span
            >{{ printf "%d minutes" .ReadingTime }}
          </span>
        </div>

        <div class="flex flex-col gap-y-2">
          <span class="font-bold">Last tended</span>
          <p
            class="relative-time"
            data-time="{{ .GitInfo.CommitDate.Format "2006-01-02T15:04:05Z07:00" }}"
          >
            {{ .GitInfo.CommitDate.Format "Jan 2, 2006" }}
          </p>
        </div>

        <div class="flex flex-col gap-y-2">
          <span class="font-bold">Planted</span>
          <p
            class="relative-time text-sm text-neutral-900/50"
            data-time="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
          >
            {{ .Date.Format "Jan 2, 2006" }}
          </p>
        </div>

        <div class="flex flex-col items-end gap-y-2">
          <span class="font-bold">Topics</span>
          {{ partial "components/topics-badge.html" . }}
        </div>
      </div>
    </div>

    <!-- Page Footing -->
    {{ if or (eq .Section "projects") (eq .Section "writings") }}
      {{ partial "components/giscus.html" . }}
    {{ end }}

  </section>
{{ end }}
