{{ define "main" }}
  <section
    id="notes"
    class="w-full sm:mx-auto sm:max-w-lg md:max-w-xl lg:max-w-6xl"
  >
    <article class="lg:mx-0!">
      <h1 class="mb-0! font-bold tracking-tight">Notes</h1>
      <p class="text-neutral-500 italic">
        A collection of technical notes and personal references.
      </p>
    </article>

    <div class="@container my-8 lg:my-16">
      <div
        class="grid w-full max-w-full grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 xl:grid-cols-3"
      >
        {{ range sort .Pages "Lastmod" "desc" }}
          <a
            href="{{ .RelPermalink }}"
            class="group flex flex-col gap-y-2 rounded-md border border-neutral-200 bg-neutral-50 p-8 transition-all duration-300 ease-in-out hover:border-neutral-300 hover:shadow-lg"
          >
            <h2
              class="font-geist w-fit text-xl font-bold tracking-tight transition-colors duration-300 ease-in-out group-hover:text-red-700 sm:text-2xl"
            >
              {{ .Title }}
            </h2>
            <p class="font-inter text-neutral-600 sm:text-lg">
              {{ .Description }}
            </p>
            <p class="text-sm text-neutral-500">
              <span class="font-medium">Updated:</span>
              <span
                class="relative-time"
                data-time="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}"
              >
                {{ .Lastmod.Format "Jan 02, 2006" }}
              </span>
            </p>
          </a>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
