<a
  href="{{ .RelPermalink }}"
  class="mb-4 block break-inside-avoid rounded-lg border-2 border-neutral-800/0 bg-neutral-900/50 backdrop-blur-sm transition-colors duration-300 ease-in-out hover:border-neutral-700/50 hover:shadow-lg"
>
  <!-- CARD IMAGE -->
  {{ with .Params.cover }}
  <img
    src="{{ . }}"
    alt="Cover image for {{ $.Title }}"
    loading="lazy"
    class="w-full rounded-md object-contain"
  />
  {{ end }}

  <!-- CARD CONTENT -->
  <div class="space-y-2 p-4">
    <h3 class="text-xl font-semibold">{{ .Title }}</h3>
    <p class="grow font-light text-white/75">{{ .Description }}</p>
    <div class="inline-flex items-center gap-x-2 text-sm text-white/50">
      <!-- Growth Stage -->
      <div class="mt-1 h-fit">
        {{- partial "writing-cards/stage-icon.html" . -}}
      </div>
      <span class="">{{ .Params.type | title }}</span>
      <div class="h-1 w-1 rounded-full bg-white/50"></div>
      <span
        class="relative-time"
        data-time='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'
      >
        {{ .Date.Format "Jan 2, 2006" }}
      </span>
    </div>
  </div>
</a>

<!-- TODO: I'm not sure about this, this is the unique layout for the note page -->
<!--
<a
  href="{{ .RelPermalink }}"
  class="mb-4 block break-inside-avoid rounded-lg border-2 border-neutral-800/50 bg-neutral-900/50 backdrop-blur-sm transition-colors duration-300 ease-in-out hover:border-neutral-700/50 hover:shadow-lg"
>
  <div class="flex gap-x-4 p-4">   
    <div class="mt-1 h-fit">
      {{- partial "writing-cards/stage-icon.html" . -}}
    </div>

    <div class="space-y-2">
      <h3 class="text-xl font-semibold">{{ .Title }}</h3>
      <p class="grow font-light text-white/75">{{ .Description }}</p>
      <div class="inline-flex items-center gap-x-2 text-sm text-white/50">
        <span class="">{{ .Params.type | title }}</span>
        <div class="h-1 w-1 rounded-full bg-white/50"></div>
        <span
          class="relative-time"
          data-time='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'
        >
          {{ .Date.Format "Jan 2, 2006" }}
        </span>
      </div>
    </div>
  </div>
</a>
-->
