{{- if eq .Params.type "idea" -}}

<div
  id="{{ .Title | urlize }}"
  class="mx-auto flex flex-col gap-y-8 xl:mx-0 xl:grid xl:grid-cols-[1fr_auto_1fr] xl:gap-x-8 xl:gap-y-32"
>
  <div class="space-y-2">
    <h2 class="mt-1 text-xl font-medium">{{ .Title }}</h2>
    <span class="block font-light text-white/75"
      >{{ now.Format "January 02, 2006" }}</span
    >
    <div
      class="mt-4 flex gap-4 text-sm *:font-normal! *:text-white/50! *:no-underline! *:transition-colors *:ease-in-out *:hover:text-white! xl:flex-col xl:gap-y-2"
    >
      {{ partial "terms.html" . }}
    </div>
  </div>

  <article class="[&>*:first-child]:mt-0! [&>*:last-child]:mb-0!">
    {{ .Content }}
    <hr />
  </article>

  <div class="hidden xl:block"></div>
</div>
{{- end -}}
