<!-- ICON SIZE -->
{{- $size := "20" -}}

<!-- WRITINGS PAGE -->
{{- with .Params.stage -}}

<!-- Sprout -->
{{- if eq . "sprout" -}}
<iconify-icon
  icon="tabler:seedling"
  width="{{ $size }}"
  height="{{ $size }}"
  class="text-emerald-400"
></iconify-icon>

<!-- Thriving -->
{{- else if eq . "thriving" -}}
<iconify-icon
  icon="tabler:plant-2"
  width="{{ $size }}"
  height="{{ $size }}"
  class="text-emerald-400"
></iconify-icon>

<!-- Evergreen -->
{{- else if eq . "evergreen" -}}
<iconify-icon
  icon="tabler:christmas-tree"
  width="{{ $size }}"
  height="{{ $size }}"
  class="text-emerald-400"
></iconify-icon>
{{- end -}} {{- end -}}

<!-- PROJECTS PAGE -->
{{ if eq .Section "projects" }}
<iconify-icon
  icon="material-symbols:code-rounded"
  width="{{ $size }}"
  height="{{ $size }}"
  class="text-emerald-400"
></iconify-icon>
{{- end -}}
