{{- with .Params.stage -}}

<!-- Size var -->
{{- $size := "20" -}}

<!-- Sprout -->
{{- if eq . "sprout" -}}
<iconify-icon
  icon="tabler:seedling"
  width="{{ $size }}"
  height="{{ $size }}"
  class="text-emerald-400"
></iconify-icon>

<!-- Thriving -->
{{- else if eq . "thriving" -}}
<iconify-icon
  icon="tabler:plant-2"
  width="{{ $size }}"
  height="{{ $size }}"
  class="text-emerald-400"
></iconify-icon>

<!-- Evergreen -->
{{- else if eq . "evergreen" -}}
<iconify-icon
  icon="tabler:christmas-tree"
  width="{{ $size }}"
  height="{{ $size }}"
  class="text-emerald-400"
></iconify-icon>
{{- end -}} {{- end -}}
