{{ define "main" }}
  <section>
    <!-- Pages Heading -->
    <article class="text-center lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl">
      <h1>{{ .Title }}</h1>
      <h2 class="not-prose text-neutral-900/60 italic">{{ .Description }}</h2>
      <div class="my-4 flex w-full items-center justify-center">
        <a
          href="/tech_stacks"
          rel="up"
          aria-label="Back to Tech Stacks"
          class="flex items-center gap-x-2 text-sm"
          ><i data-lucide="arrow-left" class="size-4"></i>Back to Tech Stacks
        </a>
      </div>
    </article>

    <!-- Terms - Project Cards -->
    <div class="@container w-full py-4 md:p-8">
      <div
        class="grid grid-cols-1 gap-4 @xl:grid-cols-2 @4xl:grid-cols-3 @4xl:gap-8 @7xl:grid-cols-4"
      >
        {{ range .Pages }}
          {{ partial "components/cards/project.html" . }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
