<a
  href="{{ .RelPermalink }}"
  class="not-prose group flex flex-col rounded-md border border-neutral-300 bg-neutral-50 transition-all ease-in-out hover:shadow-md"
>
  {{ with .Params.cover }}
    <img
      src="{{ . }}"
      alt="{{ $.Title }} Cover Image"
      class="max-h-64 rounded-t-md object-cover object-center"
    />
  {{ end }}
  <div class="flex h-full flex-col gap-y-4 p-8">
    <h2
      class="shrink-0 font-semibold transition-colors ease-in-out group-hover:text-red-700"
    >
      {{ .Title }}
    </h2>
    <p class="grow text-sm text-neutral-900/60">{{ .Description }}</p>
    <div
      class="mt-2 w-full shrink-0 space-y-2 space-x-2 text-sm text-neutral-900/60"
    >
      {{ partial "components/tech-stacks.html" . }}
    </div>
  </div>
</a>
