<a
  data-topics="{{ delimit .Params.topics "," }}"
  href="{{ .RelPermalink }}"
  class="not-prose writing-card group @container/card mb-4 flex break-inside-avoid flex-col rounded-md border border-neutral-300 bg-neutral-50 transition-all ease-in-out hover:shadow-md"
>
  {{ with .Params.cover }}
    <div class="w-full overflow-hidden rounded-sm">
      <img
        src="{{ . }}"
        alt="{{ $.Title }} Cover Image"
        class="max-h-64 w-full rounded-sm object-cover object-center"
      />
    </div>
  {{ end }}


  <div class="flex flex-col gap-y-4 p-6">
    <h2
      class="shrink-0 font-semibold transition-colors duration-500 ease-in-out group-hover:text-red-700"
    >
      {{ .Title }}
    </h2>
    <p class="grow text-sm text-neutral-900/60">{{ .Description }}</p>
    <div
      class="mt-1 flex shrink-0 items-center gap-x-2 text-sm text-neutral-900/60 @sm/card:gap-x-4"
    >
      <p class="flex items-center gap-x-2">
        {{ partial "components/section-icon.html" . }}{{ .Params.section_type | title }}
      </p>
      <i data-lucide="dot" class="size-4"></i>
      <p class="flex items-center gap-x-2">
        {{ partial "components/stage-icon.html" . }}{{ .Params.stage | title }}
      </p>
    </div>
  </div>
</a>
