<footer class="@container relative w-full shrink-0 text-neutral-50">
  <!-- BACKGROUND PATTERN START -->
  <div
    class="absolute -z-40 h-full w-full bg-neutral-900 bg-[radial-gradient(#333333_1px,transparent_1px)] [background-size:32px_32px]"
  ></div>
  <!-- BACKGROUND PATTERN END -->

  <div class="flex flex-col items-center justify-center">
    <!-- Footer Heading & Nav -->
    <div
      class="my-8 flex w-full max-w-lg flex-col gap-y-12 p-8 @3xl:max-w-3xl @4xl:max-w-4xl @6xl:max-w-6xl @6xl:flex-row @6xl:justify-between @7xl:max-w-7xl"
    >
      <!-- Nav Heading and Socials -->
      <div
        class="flex w-full max-w-sm flex-col gap-y-2 @6xl:max-w-xs @7xl:max-w-sm"
      >
        <a
          href="/"
          class="w-fit border-b border-neutral-300/0 text-4xl font-light transition-all ease-in-out hover:border-neutral-300"
          >Pradhana.</a
        >
        <span class="font-light text-neutral-50/60">
          {{ partial "navigation/footer-quotes.html" . }}
        </span>

        <!-- Socials -->
        <div
          class="footer-link my-4 flex flex-wrap items-center gap-x-6 @4xl:gap-x-8"
        >
          <!-- Github -->
          <a
            title="GitHub"
            target="_blank"
            href="https://github.com/odhyp/"
            class="flex items-center gap-x-2 hover:underline hover:underline-offset-4"
            ><i data-lucide="github" class="size-6"></i>
          </a>

          <!-- LinkedIn -->
          <a
            title="LinkedIn"
            target="_blank"
            href="https://www.linkedin.com/in/odhy/"
            class="flex items-center gap-x-2 hover:underline hover:underline-offset-4"
            ><i data-lucide="linkedin" class="size-6"></i>
          </a>

          <!-- Instagram -->
          <a
            title="Instagram"
            target="_blank"
            href="https://www.instagram.com/odhypradhana"
            class="flex items-center gap-x-2 hover:underline hover:underline-offset-4"
            ><i data-lucide="instagram" class="size-6"></i>
          </a>

          <!-- Buymeacoffee -->
          <a
            title="Sponsor"
            target="_blank"
            href="https://buymeacoffee.com/odhyp"
            class="flex items-center gap-x-2 hover:underline hover:underline-offset-4"
            ><i data-lucide="coffee" class="size-6"></i>
          </a>

          <!-- RSS Feed -->
          <a
            title="RSS Feed"
            href="/index.xml"
            class="flex items-center gap-x-2 hover:underline hover:underline-offset-4"
            ><i data-lucide="rss" class="size-6"></i>
          </a>
        </div>
      </div>

      <div
        class="footer-link grid shrink-0 grid-cols-2 gap-8 @3xl:grid-cols-4 @3xl:gap-x-4 @7xl:gap-x-8"
      >
        <!-- Nav - Explore -->
        <div class="flex flex-col gap-2">
          <span class="mb-2">Explore</span>
          <a href="/projects">Projects</a>
          <a href="/writings">Writings</a>
          <a href="/now">Now</a>
        </div>

        <!-- Nav - Resources -->
        <div class="flex flex-col gap-2">
          <span class="mb-2">Resources</span>
          <a href="/tech_stacks">Tech Stacks</a>
          <a href="/topics">Topics</a>
          <a href="/colophon">Colophon</a>
        </div>

        <!-- Nav - Connect -->
        <div class="flex flex-col gap-2">
          <span class="mb-2">Connect</span>
          <a href="/collaborate">Collaborate</a>
          <a href="/guestbook">Guestbook</a>
          <a href="/support">Support</a>
        </div>

        <!-- Nav - Legal -->
        <div class="flex flex-col gap-2">
          <span class="mb-2">Legal</span>
          <a href="/privacy-policy">Privacy Policy</a>
          <a href="/terms-of-service">Terms of Service</a>
          <a href="/disclaimer">Disclaimer</a>
        </div>
      </div>
    </div>

    <!-- Footer Email & Copyright -->
    <div class="w-full border-t border-neutral-800 bg-neutral-900">
      <div
        class="footer-link mx-auto flex w-full max-w-lg flex-col gap-y-2 px-8 py-6 text-sm @md:flex-row @md:justify-between @3xl:max-w-3xl @4xl:max-w-4xl @6xl:max-w-6xl @7xl:max-w-7xl"
      >
        <a
          title="Email"
          target="_blank"
          href="mailto:{{ .Site.Params.author.email }}"
          class="flex items-center gap-x-2 hover:underline hover:underline-offset-4"
          ><i data-lucide="mail" class="size-5"></i
          >{{ .Site.Params.author.email }}
        </a>

        <span class="text-neutral-50/60"
          >&copy;
          {{ now.Year }}
          {{ .Site.Params.author.name }}
        </span>
      </div>
    </div>
  </div>
</footer>
