<footer
  class="@container w-full shrink-0 border-t border-t-neutral-300 text-sm"
>
  <div
    class="flex flex-col-reverse gap-y-8 px-12 py-8 @xl:flex-row @xl:items-center @xl:justify-between"
  >
    <!-- Copyright and Nav -->
    <div
      class="grid grid-cols-2 gap-4 @md:gap-8 @3xl:flex @4xl:gap-x-8 @5xl:gap-x-12"
    >
      <div class="flex flex-col gap-y-1">
        <span class="font-semibold">&copy; {{ now.Year }}</span>
        <span class="font-light">{{ .Site.Params.author.name }}</span>
      </div>

      <div class="flex flex-col gap-y-1">
        <span class="font-semibold">Connect</span>
        <a class="footer-link" href="/guestbook">Guestbook</a>
      </div>

      <div class="flex flex-col gap-y-1">
        <span class="font-semibold">Social</span>
        <div class="flex flex-wrap gap-x-1">
          <a
            class="footer-link"
            href="https://www.threads.com/@odhypradhana"
            target="_blank"
            >Threads</a
          >
          <span>/</span>
          <a
            class="footer-link"
            href="https://bsky.app/profile/odhyp.com"
            target="_blank"
            >Bluesky</a
          >
        </div>
      </div>

      <div class="flex flex-col gap-y-1">
        <span class="font-semibold">Legal</span>
        <a class="footer-link whitespace-nowrap" href="/privacy-policy"
          >Privacy Policy</a
        >
      </div>
    </div>

    <!-- Social Icons -->
    <div class="flex items-center gap-x-4 @4xl:gap-x-2">
      <!-- Github -->
      <a
        title="GitHub"
        target="_blank"
        href="https://github.com/odhyp/"
        class="footer-icon"
      >
        <iconify-icon
          icon="simple-icons:github"
          width="20"
          height="20"
          class="size-5"
        ></iconify-icon>
      </a>

      <!-- Buymeacoffee -->
      <a
        title="Sponsor"
        target="_blank"
        href="https://buymeacoffee.com/odhyp"
        class="footer-icon"
      >
        <iconify-icon
          icon="simple-icons:buymeacoffee"
          width="20"
          height="20"
          class="size-5"
        ></iconify-icon>
      </a>

      <!-- RSS Feed -->
      <a title="RSS Feed" href="/index.xml" class="footer-icon">
        <iconify-icon
          icon="material-symbols:rss-feed-rounded"
          width="20"
          height="20"
          class="size-5"
        ></iconify-icon>
      </a>
    </div>
  </div>
</footer>
