{{ $current := .RelPermalink }}


<header class="font-geist @container relative w-full shrink-0">
  <div class="flex items-center justify-between p-6 lg:px-12">
    <!-- Logo -->
    <a href="/" class="group flex items-center gap-x-4">
      <img src="/logo.png" alt="Logo" class="size-10 rounded-full md:size-12" />
      <span
        class="border-b-2 border-b-neutral-400/0 text-sm font-medium tracking-wide whitespace-nowrap transition-colors duration-300 ease-in-out group-hover:border-b-neutral-400 md:text-base"
        >{{ .Site.Params.author.name }}</span
      >
    </a>

    <!-- Hamburger Menu Button -->
    <button
      id="menu-toggle"
      aria-label="Toggle Menu"
      class="flex items-center rounded-md border border-neutral-200 bg-neutral-50 p-1.5 lg:hidden"
    >
      <span class="relative h-6 w-6 overflow-hidden">
        <iconify-icon
          id="menu-open"
          icon="material-symbols:menu-rounded"
          width="24"
          height="24"
          class="absolute inset-0 size-6 scale-100 opacity-100 transition-all duration-300 ease-in-out"
        ></iconify-icon>
        <iconify-icon
          id="menu-close"
          icon="material-symbols:close-rounded"
          width="24"
          height="24"
          class="absolute inset-0 size-6 scale-50 opacity-0 transition-all duration-300 ease-in-out"
        ></iconify-icon>
      </span>
    </button>

    <!-- Desktop Nav -->
    <nav class="hidden lg:flex lg:gap-x-12">
      <a
        {{ if eq $current "/" }}aria-current="page"{{ end }}
        href="/"
        >Home
      </a>
      <a
        {{ if strings.HasPrefix $current "/projects/" }}
          aria-current="page"
        {{ end }}
        href="/projects"
        >Projects
      </a>
      <a
        {{ if strings.HasPrefix $current "/writings/" }}
          aria-current="page"
        {{ end }}
        href="/writings"
        >Writings
      </a>
      <a
        {{ if strings.HasPrefix $current "/notes/" }}
          aria-current="page"
        {{ end }}
        href="/notes"
        >Notes
      </a>
      <a
        {{ if eq $current "/now/" }}aria-current="page"{{ end }}
        href="/now"
        >Now
      </a>
      <a
        {{ if eq $current "/about/" }}aria-current="page"{{ end }}
        href="/about"
        >About
      </a>
    </nav>
  </div>

  <!-- Mobile Nav -->
  <nav
    id="menu"
    class="absolute top-20 right-6 z-40 mt-2 flex hidden w-fit scale-95 transform flex-col items-end gap-y-4 rounded-md border border-neutral-200 bg-neutral-50 px-6 py-4 opacity-0 shadow-md transition-all duration-300 ease-out lg:hidden"
  >
    <a
      {{ if eq $current "/" }}aria-current="page"{{ end }}
      href="/"
      >Home
    </a>
    <a
      {{ if eq $current "/projects/" }}aria-current="page"{{ end }}
      href="/projects"
      >Projects
    </a>
    <a
      {{ if eq $current "/writings/" }}aria-current="page"{{ end }}
      href="/writings"
      >Writings
    </a>
    <a
      {{ if eq $current "/notes/" }}aria-current="page"{{ end }}
      href="/notes"
      >Notes
    </a>
    <a {{ if eq $current "/now/" }}aria-current="page"{{ end }} href="/now"
      >Now
    </a>
    <a
      {{ if eq $current "/about/" }}aria-current="page"{{ end }}
      href="/about"
      >About
    </a>
  </nav>
</header>
