<aside
  id="sidebarRight"
  role="search"
  aria-modal="true"
  aria-hidden="true"
  aria-label="Search Navigation"
  tabindex="-1"
  class="fixed top-0 right-0 z-50 h-dvh w-full max-w-[500px] translate-x-full border-l border-neutral-200 bg-neutral-50 opacity-0 transition-all duration-300 ease-in-out sm:h-screen"
  data-turbo-permanent
>
  <!-- Right Sidebar Container -->
  <div class="flex h-full flex-col">
    <!-- Sidebar Header -->
    <div
      class="flex h-16 shrink-0 items-center justify-between border-b border-neutral-200 p-4"
    >
      <!-- TODO: remove placeholder anchor tag -->
      <a
        class="group flex size-8 cursor-pointer items-center justify-center rounded-md border border-neutral-300/0 transition-colors ease-in-out hover:border-neutral-200"
      >
        <i
          data-lucide="home"
          class="size-6 text-neutral-900/75 transition-transform ease-in-out group-hover:scale-90"
        ></i>
      </a>

      <button
        id="closeSidebarRight"
        title="Close Menu"
        class="group flex size-8 cursor-pointer items-center justify-center rounded-md border border-neutral-300/0 transition-colors ease-in-out hover:border-neutral-200"
      >
        <i
          data-lucide="x"
          class="size-6 text-neutral-900/75 transition-transform ease-in-out group-hover:scale-90"
        ></i>
      </button>
    </div>

    <!-- Sidebar Content -->
    {{ partial "navigation/pagefind-search.html" . }}
  </div>
</aside>
