<!-- BADGES PARAMETER -->
<!-- 
I think it's a good idea to separate these items.
But you need to make a different default single page 
layout for both Writings and Projects page.
-->

{{ $taxonomy := "" }}


<!-- TOPICS BADGE (WRITINGS) -->
{{ if eq .Section "writings" }}
  {{ $taxonomy = "topics" }}

  {{ with .Param $taxonomy }}

    {{ range $index, $tag := sort . }}
      {{ with $.Site.GetPage (printf "/%s/%s"
        $taxonomy $tag)
      }}
        <a
          href="{{ .RelPermalink }}"
          class="w-fit lowercase transition-all ease-in-out hover:text-neutral-900 hover:underline hover:underline-offset-2"
        >
          #{{ .LinkTitle }}
          <span>({{ .RegularPages.Len }})</span>
        </a>
      {{ end }}
    {{ end }}

  {{ end }}


  <!-- TECH-STACKS BADGE (PROJECTS) -->
{{ else if eq .Section "projects" }}
  {{ $taxonomy = "tech_stacks" }}
{{ end }}
