{{ if .IsHome }}
  <span class="mx-auto block w-full max-w-full text-center text-neutral-900/75"
    >Welcome!
  </span>
{{ else if not .IsHome }}
  <nav
    aria-label="breadcrumbs"
    class="hidden md:mx-auto md:block md:w-full md:max-w-full md:overflow-ellipsis md:text-neutral-900/75"
  >
    <ol class="flex flex-nowrap items-center justify-center gap-x-2">
      {{- range .Ancestors.Reverse }}
        <li>
          <a href="{{ .RelPermalink }}" class="underline underline-offset-2"
            >{{ .Title }}</a
          >
        </li>
        <span aria-hidden="true">/</span>
      {{- end }}


      <li
        aria-current="page"
        class="truncate whitespace-nowrap"
        title="{{ .Title }}"
      >
        {{ .Title }}
      </li>
    </ol>
  </nav>
{{ end }}
