{{ if .Params.toc }}
  <div class="not-prose font-inter sticky top-8">
    <button
      id="toc-toggle"
      class="flex cursor-pointer items-center gap-x-2 font-semibold text-neutral-900/60 transition-colors ease-in-out hover:text-neutral-900"
    >
      Table Of Contents
      <i
        data-lucide="chevron-down"
        class="size-5 transition-transform duration-300"
        id="toc-icon"
      ></i>
    </button>

    <nav
      id="toc"
      class="scrollbar-thin mt-2 max-h-0 overflow-hidden opacity-0 transition-all duration-500 ease-in-out"
    >
      {{ .TableOfContents }}
    </nav>
  </div>
{{ end }}
