{{ define "main" }}
  <section>
    <!-- Pages Heading -->
    <article class="text-center lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl">
      <h1>{{ .Title }}</h1>
      <h2 class="not-prose text-neutral-900/60 italic">{{ .Description }}</h2>
      <div class="my-4 flex w-full items-center justify-center">
        <a
          href="/topics"
          rel="up"
          aria-label="Back to Topics"
          class="flex items-center gap-x-2 text-sm"
          ><i data-lucide="arrow-left" class="size-4"></i>Back to Topics
        </a>
      </div>
    </article>

    <!-- Terms - Writings Cards -->
    <div class="@container w-full py-4 md:p-8">
      <div class="columns-1 @xl:columns-2 @4xl:columns-3 @7xl:columns-4">
        {{ range .Pages }}
          {{ partial "components/cards/writing.html" . }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
