{{ define "main" }}
<section>
  <!-- CHAOS PATTERN START -->
  {{ partial "components/chaos-pattern.html" . }}
  <!-- CHAOS PATTERN END -->

  <div class="w-full">
    <div class="site-container">
      <div class="flex flex-col gap-8 xl:flex-row xl:justify-center">
        <!-- MAIN CONTENT -->
        <div class="shrink-0">
          <article>
            <div class="mb-4 flex items-center gap-x-2 text-sm sm:gap-x-4">
              <div class="flex items-center gap-x-2">
                {{- partial "writing-cards/stage-icon.html" . -}}
                <span>{{ .Title }}</span>
              </div>
            </div>

            <h1 class="my-0! mb-4!">Odhy Pradhana</h1>

            <h2 class="my-0! text-xl! font-light! italic!">
              Accountant &middot; Python Developer
            </h2>

            <!-- SIDE CONTENT START -->
            <div class="block xl:hidden">
              {{- partial "about/side-content.html" . -}}
            </div>
            <!-- SIDE CONTENT END -->

            <div>{{ .Content }}</div>
          </article>

          <div class="mx-auto w-full max-w-prose">
            {{- partial "giscus.html" . -}}
          </div>
        </div>

        <!-- SIDE CONTENT START -->
        <div class="hidden xl:block">
          {{- partial "about/side-content.html" . -}}
        </div>
        <!-- SIDE CONTENT END -->
      </div>
    </div>
  </div>
</section>
{{ end }}
