<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <!-- HEAD START -->
  {{ partial "head.html" . }}
  <!-- HEAD END -->

  <!-- GOOGLE TAG START -->
  {{ partial "google-tag.html" . }}
  <!-- GOOGLE TAG END -->

  <!-- DEV TOOLS START -->
  {{- partial "dev/dev-tools.html" . -}}
  <!-- DEV TOOLS END -->

  <body
    class="font-inter relative flex min-h-dvh flex-col bg-neutral-900 text-white sm:min-h-screen"
  >
    <!-- HEADER START -->
    {{- partial "header.html" . -}}
    <!-- HEADER END -->

    <!-- MAIN START -->
    <main class="grow py-8">{{- block "main" . }}{{- end }}</main>
    <!-- MAIN END -->

    <!-- FOOTER START -->
    {{- partial "footer.html" . -}}
    <!-- FOOTER END -->
  </body>
</html>
