<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <!-- HEAD START -->
  {{ partial "head.html" . }}
  <!-- HEAD END -->

  <!-- GOOGLE TAG START -->
  {{ partial "google-tag.html" . }}
  <!-- GOOGLE TAG END -->

  <!-- DEV TOOLS START -->
  {{- partial "dev/dev-tools.html" . -}}
  <!-- DEV TOOLS END -->

  <body
    class="font-geist relative flex min-h-dvh w-full bg-neutral-50 text-neutral-900 sm:min-h-screen"
  >
    <!-- LEFT SIDEBAR START -->
    {{- partial "left-sidebar.html" . -}}
    <!-- LEFT SIDEBAR END -->

    <!-- MAIN START -->
    <main class="flex min-h-dvh w-full flex-col items-center sm:min-h-screen">
      <!-- HEADER START -->
      {{- partial "header.html" . -}}
      <!-- HEADER END -->

      <!-- CONTENT START -->
      <turbo-frame
        id="main-content"
        class="animate-fade-in-up w-full grow py-32"
      >
        {{- block "main" . }}{{- end }}
      </turbo-frame>
      <!-- CONTENT END -->

      <!-- FOOTER START -->
      {{ partial "footer/footer.html" . }}
      <!-- FOOTER END -->
    </main>
    <!-- MAIN END -->

    <!-- RIGHT SIDEBAR START -->
    {{- partial "right-sidebar.html" . -}}
    <!-- RIGHT SIDEBAR END -->

    <!-- BACKGROUND PATTERN START -->
    <div
      class="absolute inset-0 -z-50 h-full w-full bg-neutral-50 bg-[radial-gradient(#cccccc_1px,transparent_1px)] [background-size:32px_32px]"
    ></div>
    <!-- BACKGROUND PATTERN END -->
  </body>

  <!-- AOS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</html>
