{{ define "main" }}
<section>
  <div class="w-full">
    <div class="site-container">
      <article>
        <h1 class="my-0! mb-4!">{{ .Title }}</h1>

        <h3 class="my-0! font-light! italic!">{{ .Description }}</h3>

        <div class="mt-4! flex flex-col rounded-lg bg-neutral-800/25 px-8">
          <ul>
            {{ range where .Site.RegularPages "Params.type" "idea" }}
            <!--  -->
            <li>
              <a href="#{{ .Title | urlize }}">{{ .Title }}</a>
            </li>
            <!--  -->
            {{ end }}
          </ul>
        </div>
      </article>

      <div class="my-16 flex flex-col gap-y-32">
        {{ range where .Site.RegularPages "Params.type" "idea" }}
        <!--  -->
        {{ partial "writing-cards/page-ideas.html" . }}
        <!--  -->
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
