{{ define "main" }}

<section class="mt-8">
  <!-- CHAOS PATTERN START -->
  {{ partial "components/chaos-pattern.html" . }}
  <!-- CHAOS PATTERN END -->

  <div class="w-full">
    <div class="site-container">
      <article class="mx-0!">
        <div class="flex items-center gap-x-4">
          <h1 class="my-0! mb-4!">{{ .Title }}</h1>
          <iconify-icon
            icon="material-symbols:history-rounded"
            width="32"
            height="32"
            class="size-8 -translate-y-1 text-teal-400"
          ></iconify-icon>
        </div>
        <h2 class="my-0! font-light! italic!">{{ .Description }}</h2>

        <div>{{ .Content }}</div>
      </article>

      <!-- LOGS LIST START -->
      <div class="mt-16 columns-1 gap-4 md:columns-2 xl:columns-3">
        {{ range where .Site.RegularPages ".Type" "log" }}

        <!-- WRITING CARDS START -->
        {{ partial "writing-cards/base.html" . }}
        <!-- WRITING CARDS END -->

        {{ end }}
      </div>
      <!-- LOGS LIST END -->
    </div>
  </div>
</section>

{{ end }}
