{{ define "main" }}

<section class="mt-16">
  <!-- CHAOS PATTERN START -->
  {{ partial "components/chaos-pattern.html" . }}
  <!-- CHAOS PATTERN END -->

  <div class="w-full">
    <div class="site-container">
      <article>
        <div class="flex items-center gap-x-4">
          <h1 class="my-0! mb-4!">{{ .Title }}</h1>
          <iconify-icon
            icon="material-symbols:calendar-month-outline-rounded"
            width="32"
            height="32"
            class="size-8 -translate-y-1 text-teal-400"
          ></iconify-icon>
        </div>
        <h2 class="my-0! font-light! italic!">{{ .Description }}</h2>

        <div class="mt-16!">{{ .Content }}</div>
      </article>
    </div>
  </div>
</section>

{{ end }}
