{{ define "main" }}
<section class="site-container mb-16 flex flex-col gap-y-6">
  <article>{{ .Content }}</article>

  <div class="flex flex-col gap-y-6 divide-y divide-neutral-800">
    {{ $featuredProjects := where (where (where .Site.Pages ".Section"
    "project") "Kind" "page") "Params.featured" true }} {{ range sort
    $featuredProjects "Date" "desc" }}

    <!-- BLOG LIST START -->
    {{- partial "component/project-list.html" . -}}
    <!-- BLOG LIST END -->

    {{ end }}
  </div>
</section>

<section class="site-container mb-16 flex flex-col gap-y-6">
  <article>
    <h2>Other Projects 😎</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt maiores
      beatae, officia eaque blanditiis, pariatur dolor, fugit rem omnis atque
      repellat inventore? Voluptatibus quidem voluptas ut nulla quam molestias
      nostrum?
    </p>
  </article>

  <div class="flex flex-col gap-y-6">
    {{ $featuredProjects := where (where (where .Site.Pages ".Section"
    "project") "Kind" "page") "Params.featured" false }} {{ range sort
    $featuredProjects "Date" "desc" }}

    <!-- BLOG LIST START -->
    {{- partial "component/project-list.html" . -}}
    <!-- BLOG LIST END -->

    {{ end }}
  </div>
</section>
{{ end }}
