{{ define "main" }}

<section class="mt-16">
  <!-- CHAOS PATTERN START -->
  {{ partial "components/chaos-pattern.html" . }}
  <!-- CHAOS PATTERN END -->

  <div class="w-full">
    <div class="site-container">
      <article class="mx-0!">
        <div class="flex items-center gap-x-4">
          <h1 class="my-0! mb-4!">{{ .Title }}</h1>
          <iconify-icon
            icon="material-symbols:work-outline"
            width="32"
            height="32"
            class="size-8 -translate-y-1 text-emerald-400"
          ></iconify-icon>
        </div>
        <h2 class="my-0! font-light! italic!">{{ .Description }}</h2>

        <div>{{ .Content }}</div>
      </article>

      <!-- SERVICES LIST START -->
      <div
        class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 xl:gap-8"
      >
        {{ range where .Site.RegularPages ".Section" "services" }}

        <!-- SERVICES CARDS START -->
        {{ partial "service-cards/base.html" . }}
        <!-- SERVICES CARDS END -->

        {{ end }}
      </div>
      <!-- SERVICES LIST END -->
    </div>
  </div>
</section>

{{ end }}
