{{ define "main" }}

<section>
  <!-- CHAOS PATTERN START -->
  <div class="absolute inset-0 -z-50 overflow-hidden">
    <img
      src="/chaos2.svg"
      alt=""
      class="absolute h-dvh w-full translate-x-3/5 scale-150 rotate-45 md:h-screen md:w-full md:translate-x-2/5 md:scale-110 md:-rotate-12 lg:-top-16 lg:h-[1100px] lg:w-[1100px] lg:translate-x-2/5 lg:scale-100 lg:rotate-12 xl:translate-x-3/5"
    />
  </div>
  <!-- CHAOS PATTERN END -->

  <div class="w-full">
    <div class="site-container">
      <article class="mx-0!">
        <div class="flex items-center gap-x-4">
          <h1 class="my-0! mb-4!">{{ .Title }}</h1>
          <iconify-icon
            icon="material-symbols:construction-rounded"
            width="32"
            height="32"
            class="size-8 -translate-y-1 text-emerald-400"
          ></iconify-icon>
        </div>
        <h3 class="my-0! font-light! italic!">{{ .Description }}</h3>

        <div>{{ .Content }}</div>
      </article>

      <!-- SERVICES LIST START -->
      <div
        class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 xl:gap-8"
      >
        {{ range where .Site.RegularPages ".Section" "services" }}

        <!-- SERVICES CARDS START -->
        {{ partial "service-cards/base.html" . }}
        <!-- SERVICES CARDS END -->

        {{ end }}
      </div>
      <!-- SERVICES LIST END -->
    </div>
  </div>
</section>
{{ end }}
