{{ define "main" }}

<section class="mt-16">
  <div class="w-full">
    <div class="site-container">
      <article class="mx-0!">
        <div class="flex items-center gap-x-4">
          <h1 class="my-0! mb-4!">{{ .Title }}</h1>
          <iconify-icon
            icon="material-symbols:work-outline"
            width="32"
            height="32"
            class="size-8 -translate-y-1 text-teal-400"
          ></iconify-icon>
        </div>
        <h2 class="my-0! font-light! italic!">{{ .Description }}</h2>

        <div>{{ .Content }}</div>

        <a
          href="mailto:pradhana.odhy@gmail.com"
          class="mt-4 flex w-fit items-center gap-x-2 rounded-lg border-2 border-teal-300/0 bg-teal-400 px-6 py-3 text-base font-semibold! text-teal-950! no-underline! transition-colors duration-300 ease-in-out hover:bg-teal-500"
        >
          <iconify-icon
            icon="material-symbols:mail-rounded"
            width="20"
            height="20"
            class="size-5 text-teal-950"
          ></iconify-icon>
          Let's Work Together</a
        >
      </article>

      <!-- SERVICES LIST START -->
      <div
        class="mt-16 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 xl:gap-8"
      >
        {{ range where .Site.RegularPages ".Section" "services" }}

        <!-- SERVICES CARDS START -->
        here
        <!-- SERVICES CARDS END -->

        {{ end }}
      </div>
      <!-- SERVICES LIST END -->
    </div>
  </div>
</section>

{{ end }}
