{{ define "main" }}
<section>
  <div class="w-full">
    <div class="site-container">
      <article>
        <div class="mb-4 flex items-center gap-x-2 text-sm sm:gap-x-4">
          <!-- LEFT SIDE START -->
          <!-- Icon and page name -->

          <!-- Service page -->
          {{ if eq .Type "services" }}
          <div class="flex items-center gap-x-2">
            {{- partial "writing-cards/stage-icon.html" . -}}
            <span class="">{{ title .Type }}</span>
          </div>

          <!-- Project page -->
          {{ else if eq .Type "projects" }}
          <div class="flex items-center gap-x-2">
            {{- partial "writing-cards/stage-icon.html" . -}}
            <span class="">{{ title .Type }}</span>
          </div>

          <!-- Writings page -->
          {{ else }}
          <div class="flex items-center gap-x-2">
            {{- partial "writing-cards/stage-icon.html" . -}}
            <span class="">{{ title .Params.stage }}</span>
          </div>
          {{ end }}
          <!-- LEFT SIDE END -->

          <!-- RIGHT SIDE START -->
          <!-- Middot and last update/tended -->

          <!-- Service page -->
          {{ if eq .Type "services" }}
          <!-- Nothing... -->

          {{ else }}
          <span class="font-bold">&middot;</span>

          <p class="my-0!">
            <!-- Projects page -->
            {{ if eq .Type "projects" }}Last modified:&nbsp;
            <!-- Writings page -->
            {{ else }}Last tended:&nbsp; {{ end }}
            <span
              class="relative-time"
              data-time='{{ .GitInfo.CommitDate.Format "2006-01-02T15:04:05Z07:00" }}'
            >
              {{ .GitInfo.CommitDate.Format "Jan 2, 2006" }}
            </span>
          </p>
          {{ end }}
          <!-- RIGHT SIDE END -->
        </div>

        <h1 class="my-0! mb-4! text-6xl leading-tight! font-semibold">
          {{ .Title }}
        </h1>

        <h3 class="my-0! font-light! italic!">{{ .Description }}</h3>

        {{ if .Params.topics }}
        <div
          class="mt-4! flex gap-4 text-sm *:font-normal! *:text-white/50! *:no-underline! *:transition-colors *:ease-in-out *:hover:text-white!"
        >
          {{ partial "terms.html" (dict "taxonomy" "topics" "page" .) }}
        </div>
        {{ end }}

        <hr class="my-8!" />

        <div class="mt-16!">{{ .Content }}</div>
      </article>

      <!-- COMMENT START -->
      {{ if eq .Type "services" }}
      <!-- No comment section for services page -->

      {{ else }}
      <div class="mx-auto w-full max-w-prose">
        {{- partial "giscus.html" . -}}
      </div>
      {{ end }}
      <!-- COMMENT END -->
    </div>
  </div>
</section>
{{ end }}
