{{ define "main" }}
  <section class="w-full px-4">
    <article
      class="font-inter prose prose-neutral lg:prose-lg prose-img:rounded-lg mx-auto mt-8 w-full max-w-prose lg:mt-16">
      <!-- Page Header -->
      <div class="font-geist mb-16">
        <h1 class="!my-0 !mb-8 font-semibold">{{ .Title }}</h1>

        {{- if eq .Section "projects" -}}
          {{ partial "projects/tech-stacks.html" . }}
        {{- else if eq .Section "writings" -}}
          {{ partial "terms.html" . }}
        {{- end -}}
      </div>

      <!-- Page Content -->
      {{ .Content }}


      <!-- Page Footer -->
      <div></div>
    </article>

    <!-- Comments -->
    {{- partial "giscus.html" . -}}
  </section>
{{ end }}
