@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@theme {
  --font-inter: "Inter", serif;
  --color-white-prose: oklch(0.872 0.01 258.338);

  --animate-pop: pop 400ms ease-in-out;
  @keyframes pop {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.1);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* Default site */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

html {
  @apply scrollbar-thumb-neutral-700 scrollbar-thin scrollbar-track-neutral-800;
}

body {
  @apply selection:bg-teal-300 selection:text-teal-900;
}

/* Containers */
section {
  @apply mb-8 w-full max-w-full;
}

article {
  @apply prose prose-invert prose-img:rounded-lg lg:prose-lg prose-hr:border-neutral-700 mx-auto w-full max-w-prose marker:text-neutral-700;
}

.site-container {
  @apply container mx-auto space-y-6 px-8 py-16 md:space-y-8 xl:px-16;
}

/* Code block and Inline-code block */
pre {
  @apply scrollbar-thumb-neutral-700 scrollbar-thin scrollbar-track-neutral-800 rounded-lg border-2 border-neutral-800/50 bg-neutral-900! p-4;
}

code:not(pre > *) {
  @apply rounded bg-neutral-800 p-1 select-all;
}

code::before,
code::after {
  @apply hidden;
}

/* Table Of Contents */
#TableOfContents a {
  @apply text-white-prose font-normal no-underline;
}

#TableOfContents ol,
#TableOfContents li {
  @apply m-0 list-none p-0;
}

#TableOfContents ol {
  @apply space-y-2!;
}

/* TOC Heading 3 anchor tags */
#TableOfContents li li > a {
  @apply ml-4 inline-block font-light;
}

#TableOfContents ol li ol li {
  @apply m-0!;
}

/* Micro Design */
.underline-hover {
  @apply relative text-white before:absolute before:-bottom-0.5 before:w-full before:scale-0 before:border-b before:border-b-white before:transition-transform before:ease-in-out hover:before:scale-100;
}
