@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@theme {
  --font-inter: "Inter", sans-serif;
  --font-geist: "Geist Mono", monospace;
}

/* Default site */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 0px; /* TODO: update value */
}

/* TODO: enable custom styling, once everything is settled */
/* html {
  @apply scrollbar-thumb-neutral-500 scrollbar-thin scrollbar-track-neutral-700;
} */

/* body {
  @apply selection:bg-teal-300 selection:text-teal-900;
} */

/* Development */
/* TODO: remove before merge */
.dev {
  @apply border-2 border-dashed border-green-400 bg-green-100/50;
}
