@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@theme {
  --font-inter: "Inter", sans-serif;
  --font-geist: "Geist Mono", monospace;
  --animate-fade-in-up: fade-in-up 0.5s ease-out;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Default site */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 0px; /* TODO: update value */
}

body {
  @apply selection:bg-red-200 selection:text-red-950;
}

/* Development */
/* TODO: remove before merge */
.dev {
  @apply border-2 border-dashed border-green-400 bg-green-100/50;
}

.sample {
  @apply border-2 border-dashed border-orange-400 bg-orange-100/50;
}

/* Code block and Inline-code block */
pre {
  @apply scrollbar-thumb-neutral-600 scrollbar-thin !scrollbar-track-neutral-900/0 rounded-lg bg-neutral-900! p-4;
}

code:not(pre > *) {
  @apply rounded bg-neutral-200 p-1 select-all;
}

code::before,
code::after {
  @apply hidden;
}
