<a
  href="{{ .RelPermalink }}"
  class="group flex flex-col gap-y-4 rounded-lg border-2 border-neutral-800/50 bg-neutral-900/50 p-8 backdrop-blur-sm transition-all duration-300 ease-in-out hover:border-teal-700/50 hover:shadow-xl"
>
  <!-- CARD ICON -->
  <div class="size-14 rounded-full bg-neutral-800/50 p-4 backdrop-blur-sm">
    {{ $icon := .Params.icon }}
    <iconify-icon
      icon="material-symbols:{{ $icon }}"
      width="24"
      height="24"
      class="group-hover:animate-pop size-6 text-teal-400 will-change-transform"
    ></iconify-icon>
  </div>

  <!-- CARD CONTENT -->
  <h3 class="text-xl font-semibold">{{ .Title }}</h3>
  <p class="grow font-light text-white/75">{{ .Description }}</p>
  <span
    class="flex items-center gap-x-2 text-white/50 transition-colors ease-in-out group-hover:text-teal-400"
  >
    <p class="text-sm font-light">Learn more</p>
    <iconify-icon
      icon="material-symbols:arrow-right-alt-rounded"
      width="16"
      height="16"
      class="size-4 scale-100 transition-all ease-in-out group-hover:scale-100 sm:scale-0"
    ></iconify-icon
  ></span>
</a>
