<a
  href="/services"
  class="group relative flex flex-col justify-end gap-y-4 rounded-lg border-2 border-neutral-800/50 bg-neutral-900/50 p-8 backdrop-blur-sm transition-all duration-300 ease-in-out hover:border-teal-700/50 hover:shadow-xl"
>
  <!-- CHAOS PATTERN START -->
  <div class="absolute top-0 left-0 h-full w-full overflow-hidden">
    <img
      src="/vortex1.svg"
      alt="Background Pattern"
      loading="lazy"
      class="absolute translate-8 scale-200 opacity-15"
    />
  </div>
  <!-- CHAOS PATTERN END -->

  <!-- CARD CONTENT -->
  <h3 class="text-xl font-semibold">Need Something Else?</h3>
  <p class="font-light text-white/75">
    Discover more ways I can help you simplify, automate, or build smarter.
  </p>
  <span
    class="flex items-center gap-x-2 text-white/50 transition-colors ease-in-out group-hover:text-teal-400"
  >
    <p class="text-sm font-light">See all services</p>
    <iconify-icon
      icon="material-symbols:arrow-right-alt-rounded"
      width="16"
      height="16"
      class="size-4 scale-100 transition-all ease-in-out group-hover:scale-100 sm:scale-0"
    ></iconify-icon
  ></span>
</a>
