{{- $type := .Get "type" | default "note" -}}
{{- $title := .Get "title" | default (title $type) -}}

{{- $icon := "sticky-note" -}}
{{- if eq $type "tip" }}
  {{ $icon = "lightbulb" }}
{{- else if eq $type "info" }}
  {{ $icon = "info" }}
{{- else if eq $type "warning" }}
  {{ $icon = "alert-triangle" }}
{{- else if eq $type "important" }}
  {{ $icon = "alert-octagon" }}
{{- else if eq $type "todo" }}
  {{ $icon = "clock" }}
{{- end }}


<div
  class="{{- if eq $type "tip" }}
    border-green-700 bg-green-50/50 text-green-900 marker:text-green-800
  {{- else if eq $type "info" }}
    border-blue-700 bg-blue-50/50 text-blue-900 marker:text-blue-800
  {{- else if eq $type "warning" }}
    border-yellow-700 bg-yellow-50/50 text-yellow-900 marker:text-yellow-800
  {{- else if eq $type "important" }}
    border-red-700 bg-red-50/50 text-red-900 marker:text-red-800
  {{- else if eq $type "todo" }}
    border-purple-700 bg-purple-50/50 text-purple-900 marker:text-purple-800
  {{- else }}
    border-neutral-300 bg-neutral-50/50 text-neutral-800 marker:text-neutral-800
  {{- end }} my-4 flex items-start gap-3 rounded-lg border-l-4 p-4 shadow-md"
>
  <i data-lucide="{{ $icon }}" class="mt-1 size-5 shrink-0"></i>
  <div class="w-full max-w-full min-w-0">
    <p class="mt-0 mb-1 font-semibold">{{ $title }}</p>
    <article class="prose-pre:overflow-auto bg-neutral-50/0">
      {{ .Inner | markdownify }}
    </article>
  </div>
</div>
