{{- $href := .Get "href" -}}
{{- $group := .Get "group" | default "simple-icons" -}}
{{- $icon := .Get "icon" | default "github" -}}
{{- $text := .Get "text" | default "CTA Text" -}}
{{- $class := .Get "class" -}}


<a
  href="{{ $href }}"
  target="_blank"
  rel="noopener noreferrer"
  class="not-prose {{ $class }} flex w-full items-center justify-center gap-x-4 rounded-md border border-neutral-300 bg-neutral-50 px-8 py-2 transition-all duration-300 ease-in-out hover:shadow-lg"
>
  <iconify-icon
    icon="{{ $group }}:{{ $icon }}"
    width="20"
    height="20"
    class="size-5"
  ></iconify-icon>
  <span class="font-medium">{{ $text }}</span>
</a>
