{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $class := .Get "class" -}}
{{- $caption := .Get "caption" -}}


<figure
  class="md:not-prose md:-mx-8 md:my-8 md:w-[calc(100%+4rem)] md:max-w-none lg:-mx-16 lg:w-[calc(100%+8rem)] xl:-mx-32 xl:w-[calc(100%+16rem)]"
>
  <img
    src="{{ $src }}"
    alt="{{ $alt }}"
    loading="lazy"
    class="{{ $class }} block h-auto w-auto rounded-lg"
  />
  {{ with $caption }}
    <figcaption
      class="mx-auto mt-4 w-full max-w-prose text-center text-neutral-500"
    >
      {{ . | markdownify }}
    </figcaption>
  {{ end }}
</figure>
