<footer class="border-t border-neutral-700">
  <div
    class="container mx-auto flex flex-col-reverse gap-y-16 px-6 py-16 md:flex-row md:justify-between xl:px-32"
  >
    <div class="flex flex-col justify-center gap-y-4">
      <span class="text-2xl font-medium lg:text-3xl">Follow and Support?</span>

      <div
        class="flex w-full flex-col gap-2 sm:flex-row md:flex-col lg:flex-row"
      >
        <a
          href="/index.xml"
          class="flex w-fit items-center gap-x-2 rounded-md border-2 border-neutral-800 bg-neutral-800 px-8 py-2 text-sm text-white/75 transition-all ease-in-out hover:border-neutral-600 hover:text-white"
        >
          <iconify-icon
            icon="material-symbols:rss-feed-rounded"
            width="16"
            height="16"
            class="size-4"
          ></iconify-icon>
          <span class="whitespace-nowrap">RSS Feed</span>
        </a>
        <a
          href="https://buymeacoffee.com/odhyp"
          target="_blank"
          class="flex w-fit items-center gap-x-2 rounded-md border-2 border-neutral-800 bg-neutral-800 px-8 py-2 text-sm text-white/75 transition-all ease-in-out hover:border-neutral-600 hover:text-white"
        >
          <iconify-icon
            icon="simple-icons:buymeacoffee"
            width="16"
            height="16"
            class="size-4"
          ></iconify-icon>
          <span class="whitespace-nowrap">Buy Me a Coffee</span>
        </a>
      </div>

      <span class="mt-4 text-sm text-white/50"
        >&copy; {{ now.Year }} Odhy Pradhana.&nbsp;
        <br class="hidden md:inline lg:hidden" />
        All Rights Reserved.</span
      >
    </div>

    <div
      class="grid grid-cols-2 gap-y-8 sm:grid-cols-4 sm:gap-x-4 md:gap-x-8 lg:gap-x-16"
    >
      <!-- COLUMN SITEMAP -->
      <div class="flex flex-col gap-y-4">
        <span class="text-white/50">Sitemap</span>
        <ul class="space-y-4">
          <li>
            <a href="/projects" class="underline-hover">Projects</a>
          </li>
          <li>
            <a href="/writings" class="underline-hover">Writings</a>
          </li>
          <li>
            <a href="/now" class="underline-hover">Now</a>
          </li>
          <li>
            <a href="/about" class="underline-hover">About</a>
          </li>
          <li>
            <a href="/colophon" class="underline-hover">Colophon</a>
          </li>
        </ul>
      </div>

      <!-- COLUMN WRITINGS -->
      <div class="flex flex-col gap-y-4">
        <span class="text-white/50">Writings</span>
        <ul class="space-y-4">
          <li>
            <a href="/articles" class="underline-hover">Articles</a>
          </li>
          <li>
            <a href="/notes" class="underline-hover">Notes</a>
          </li>
          <li>
            <a href="/ideas" class="underline-hover">Ideas</a>
          </li>
          <li>
            <a href="/logs" class="underline-hover">Logs</a>
          </li>
        </ul>
      </div>

      <!-- COLUMN SOCIAL -->
      <div class="flex flex-col gap-y-4">
        <span class="text-white/50">Social</span>
        <ul class="space-y-4">
          <li>
            <a
              href="https://github.com/odhyp"
              target="_blank"
              class="underline-hover"
              >GitHub
            </a>
          </li>

          <li>
            <a
              href="https://www.linkedin.com/in/odhy/"
              target="_blank"
              class="underline-hover"
              >LinkedIn
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com/odhypradhana"
              target="_blank"
              class="underline-hover"
              >Instagram
            </a>
          </li>

          <li>
            <a
              href="https://x.com/valgtreiz"
              target="_blank"
              class="underline-hover"
              >X (Twitter)
            </a>
          </li>
        </ul>
      </div>

      <!-- COLUMN CONTACT -->
      <div class="flex flex-col gap-y-4">
        <span class="text-white/50">Contact</span>
        <ul class="space-y-4">
          <li>
            <a
              href="mailto:pradhana.odhy@gmail.com"
              target="_blank"
              class="underline-hover"
              >Email</a
            >
          </li>
          <!-- TODO: Update link Upwork -->
          <li>
            <a href="" target="_blank" class="underline-hover">Upwork </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
