<header
  id="header"
  class="sticky top-0 z-40 border-b-2 border-neutral-800/0 transition-colors duration-500 ease-in-out"
>
  <div
    class="container mx-auto flex h-20 items-center justify-between px-8 py-6"
  >
    <!-- LOGO START -->
    <a href="/" class="group">
      <img
        src="/android-chrome-512x512.png"
        alt="Logo"
        loading="lazy"
        class="size-8 transition-transform ease-in-out group-hover:scale-105 lg:size-10"
      />
    </a>
    <!-- LOGO END -->

    <!-- HEADER MENU START -->
    <ul class="hidden md:flex md:items-center md:gap-x-8">
      <li>
        <a href="/services" class="underline-hover">Services</a>
      </li>

      <li>
        <a href="/projects" class="underline-hover">Projects</a>
      </li>

      <li class="relative flex items-center gap-x-1">
        <a href="/writings" class="underline-hover">Writings </a>

        <!-- WRITINGS DROPDOWN BUTTON START -->
        <button
          id="dropdown-writings-button"
          name="dropdown-writings-button"
          aria-label="Writings Dropdown Button"
          aria-expanded="false"
          type="button"
          class="group flex cursor-pointer items-center justify-center rounded-full border-2 border-neutral-800/0 p-0.5 text-white backdrop-blur-sm hover:border-neutral-800/50"
        >
          <iconify-icon
            icon="material-symbols:keyboard-arrow-down-rounded"
            width="24"
            height="24"
            class="size-6 scale-100 transition-transform duration-300 ease-in-out group-hover:scale-0 group-focus:scale-0"
          ></iconify-icon>
          <iconify-icon
            icon="material-symbols:arrow-downward-alt-rounded"
            width="20"
            height="20"
            class="absolute size-5 scale-0 transition-transform duration-300 ease-in-out group-hover:scale-100 group-focus:scale-100"
          ></iconify-icon>
        </button>
        <!-- WRITINGS DROPDOWN BUTTON END -->

        <!-- WRITINGS DROPDOWN MENU START -->
        <ul
          id="dropdown-writings-menu"
          class="pointer-events-none absolute top-10 left-1/2 z-40 -translate-x-1/2 scale-95 transform divide-y divide-neutral-700 rounded border border-neutral-700 bg-neutral-900/90 opacity-0 backdrop-blur-sm transition-all ease-in-out"
        >
          <li>
            <a
              href="/articles"
              class="block w-full px-6 py-3 text-white transition-colors ease-in-out hover:bg-neutral-800/50"
              >Articles
            </a>
          </li>
          <li>
            <a
              href="/notes"
              class="block w-full px-6 py-3 text-white transition-colors ease-in-out hover:bg-neutral-800/50"
              >Notes
            </a>
          </li>
          <li>
            <a
              href="/ideas"
              class="block w-full px-6 py-3 text-white transition-colors ease-in-out hover:bg-neutral-800/50"
              >Ideas</a
            >
          </li>
          <li>
            <a
              href="/logs"
              class="block w-full px-6 py-3 text-white transition-colors ease-in-out hover:bg-neutral-800/50"
              >Logs</a
            >
          </li>
        </ul>
        <!-- WRITINGS DROPDOWN MENU END -->
      </li>

      <li>
        <a href="/now" class="underline-hover">Now</a>
      </li>

      <li>
        <a href="/about" class="underline-hover">About</a>
      </li>
    </ul>
    <!-- HEADER MENU END -->

    <!-- HAMBURGER BUTTON START -->
    <button
      id="hamburger-button"
      type="button"
      name="hamburger-button"
      aria-label="Toggle Menu"
      class="flex items-center justify-center rounded-md p-2 md:hidden"
    >
      <iconify-icon
        id="menu-open"
        icon="material-symbols:menu-rounded"
        width="32"
        height="32"
        aria-label="Open Menu"
        class="size-8"
      ></iconify-icon>

      <iconify-icon
        id="menu-close"
        icon="material-symbols:close-rounded"
        width="32"
        height="32"
        aria-label="Close Menu"
        class="hidden size-8"
      ></iconify-icon>
    </button>
    <!-- HAMBURGER BUTTON END -->

    <!-- HAMBURGER MENU START -->
    <div
      id="hamburger-menu"
      class="fixed inset-0 top-20 z-50 hidden h-dvh translate-x-full bg-neutral-900 transition-transform ease-in-out md:hidden"
    >
      <ul class="flex flex-col py-8 text-xl font-medium">
        <!-- SERVICES -->
        <li>
          <a href="/services" class="flex items-center gap-x-4 px-8 py-4">
            <iconify-icon
              icon="material-symbols:work-outline"
              width="24"
              height="24"
              class="size-6 -translate-y-0.5 text-emerald-400"
            ></iconify-icon>
            Services</a
          >
        </li>

        <!-- PROJECTS -->
        <li>
          <a href="/projects" class="flex items-center gap-x-4 px-8 py-4">
            <iconify-icon
              icon="material-symbols:construction-rounded"
              width="24"
              height="24"
              class="size-6 -translate-y-0.5 text-emerald-400"
            ></iconify-icon>
            Projects</a
          >
        </li>

        <!-- WRITINGS -->
        <li>
          <a href="/writings" class="flex items-center gap-x-4 px-8 py-4">
            <iconify-icon
              icon="material-symbols:potted-plant-outline-rounded"
              width="24"
              height="24"
              class="size-6 -translate-y-0.5 text-emerald-400"
            ></iconify-icon>
            Writings</a
          >

          <!-- WRITINGS SUB-MENU START -->
          <ul class="pl-10 text-lg font-normal">
            <li>
              <a href="/articles" class="flex items-center gap-x-4 px-8 py-2">
                <iconify-icon
                  icon="material-symbols:article-outline-rounded"
                  width="20"
                  height="20"
                  class="size-5 text-emerald-400"
                ></iconify-icon>
                Articles</a
              >
            </li>
            <li>
              <a href="/notes" class="flex items-center gap-x-4 px-8 py-2">
                <iconify-icon
                  icon="material-symbols:note-outline-rounded"
                  width="20"
                  height="20"
                  class="size-5 text-emerald-400"
                ></iconify-icon>
                Notes</a
              >
            </li>
            <li>
              <a href="/ideas" class="flex items-center gap-x-4 px-8 py-2">
                <iconify-icon
                  icon="material-symbols:lightbulb-2-outline-rounded"
                  width="20"
                  height="20"
                  class="size-5 text-emerald-400"
                ></iconify-icon>
                Ideas</a
              >
            </li>
            <li>
              <a href="/logs" class="flex items-center gap-x-4 px-8 py-2">
                <iconify-icon
                  icon="material-symbols:history-rounded"
                  width="20"
                  height="20"
                  class="size-5 text-emerald-400"
                ></iconify-icon>
                Logs</a
              >
            </li>
          </ul>
          <!-- WRITINGS SUB-MENU END -->
        </li>

        <!-- NOW -->
        <li>
          <a href="/now" class="flex items-center gap-x-4 px-8 py-4">
            <iconify-icon
              icon="material-symbols:calendar-month-outline-rounded"
              width="24"
              height="24"
              class="size-6 -translate-y-0.5 text-emerald-400"
            ></iconify-icon>
            Now</a
          >
        </li>

        <!-- ABOUT -->
        <li>
          <a href="/about" class="flex items-center gap-x-4 px-8 py-4">
            <iconify-icon
              icon="material-symbols:person-outline-rounded"
              width="24"
              height="24"
              class="size-6 -translate-y-0.5 text-emerald-400"
            ></iconify-icon>
            About</a
          >
        </li>
      </ul>
    </div>
    <!-- HAMBURGER MENU END -->
  </div>
</header>
