<!-- TOPICS PARAMETER -->
{{ $taxonomy := "" }}
{{ if eq .Section "writings" }}
  {{ $taxonomy = "topics" }}
{{ else if eq .Section "projects" }}
  {{ $taxonomy = "tech-stacks" }}
{{ end }}

{{ with .Param $taxonomy }}
<ul class="m-0! flex list-none! gap-x-4 p-0! flex-wrap">
  {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
  $taxonomy $tag) }}
  <li class="m-0! p-0!">
    <a href="{{ .RelPermalink }}" class="no-underline! text-white/50! hover:text-white! text-nowrap">
      {{ .LinkTitle }}
      <span class="text-white/50">({{ .RegularPages.Len }})</span>
    </a>
  </li>
  {{ end }} {{ end }}
</ul>
{{ end }}
