{{ define "main" }}
  <section class="@container space-y-16 p-0 md:px-8 lg:px-12">
    <!-- 1. HERO -->
    <section class="w-full max-w-3xl lg:mx-auto lg:max-w-6xl">
      <h1
        class="font-geist mb-8 text-3xl leading-tight font-light tracking-tight sm:text-4xl lg:text-6xl"
      >
        <span class="font-bold">Streamlined systems</span>
        built through automation, data visualization, and web development.
      </h1>
      <div
        class="prose prose-neutral md:prose-lg xl:prose-xl 2xl:prose-2xl prose-a:text-red-700"
      >
        {{ .Content }}
      </div>
    </section>

    <!-- 2. FEATURED PROJECTS -->
    {{ $projects := where .Site.RegularPages "Section" "projects" }}
    {{ $featured := where $projects "Params.featured" true }}
    {{ $sorted := sort $featured "Lastmod" "desc" }}


    <section
      id="featured-projects"
      class="w-full max-w-3xl pt-0 lg:mx-auto lg:max-w-6xl"
    >
      <article class="mx-0!">
        <h1 class="mb-0! font-semibold tracking-tight">Featured Projects</h1>
        <p class="text-neutral-500 italic">
          Select highlights from my most meaningful and ongoing work.
        </p>
      </article>

      <div class="@container my-16">
        <div
          class="grid w-full max-w-full grid-cols-1 gap-12 @5xl:grid-cols-2 @5xl:gap-16"
        >
          {{ range first 4 $sorted }}
            <div class="flex flex-col gap-y-4">
              <a
                href="{{ .RelPermalink }}"
                class="group overflow-hidden rounded-md border border-neutral-300 bg-neutral-50 transition-all duration-300 ease-in-out hover:shadow-lg"
              >
                <img
                  src="{{ .Params.Cover }}"
                  alt="{{ .Title }} Cover Image"
                  class="block aspect-16/9 rounded-md object-cover object-center transition-all duration-300 ease-in-out group-hover:scale-105"
                />
              </a>

              <div class="flex flex-col gap-y-2 px-4">
                <a
                  href="{{ .RelPermalink }}"
                  class="w-fit text-xl font-bold transition-colors duration-300 ease-in-out hover:text-red-700 sm:text-2xl"
                  >{{ .Title }}
                </a>
                <p class="font-inter text-neutral-600 sm:text-lg">
                  {{ .Description }}
                </p>
                <div class="mt-2 flex flex-wrap gap-2">
                  {{ partial "components/tech-stacks.html" . }}
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>

      <div class="flex w-full items-center justify-end">
        <a
          href="/projects"
          class="font-geist group flex items-center gap-x-4 text-lg font-medium tracking-tighter text-red-700! lg:text-xl"
        >
          View all projects
          <iconify-icon
            icon="material-symbols:arrow-right-alt-rounded"
            width="24"
            height="24"
            class="size-6 transition-transform duration-300 ease-in-out group-hover:translate-x-2"
          ></iconify-icon>
        </a>
      </div>
    </section>

    <!-- 3. LATEST WRITINGS -->
    {{ $writings := where .Site.RegularPages "Section" "writings" }}
    {{ $sorted := sort $writings "Lastmod" "desc" }}


    <section
      id="latest-writings"
      class="w-full max-w-3xl pt-0 lg:mx-auto lg:max-w-6xl"
    >
      <article class="mx-0!">
        <h1 class="mb-0! font-semibold tracking-tight">Latest Writings</h1>
        <p class="text-neutral-500 italic">
          Fresh thoughts, notes, and explorations.
        </p>
      </article>

      <div class="@container my-16">
        <div
          class="grid w-full max-w-full grid-cols-1 gap-12 @5xl:grid-cols-2 @5xl:gap-16"
        >
          {{ range first 4 $sorted }}
            <div class="flex flex-col gap-y-4">
              <a
                href="{{ .RelPermalink }}"
                class="group overflow-hidden rounded-md border border-neutral-200"
              >
                <img
                  src="{{ .Params.Cover }}"
                  alt="{{ .Title }} Cover Image"
                  class="block aspect-16/9 rounded-md object-cover object-center transition-all duration-300 ease-in-out group-hover:scale-105 group-hover:shadow-lg"
                />
              </a>

              <div class="flex flex-col gap-y-2 px-4">
                <a
                  href="{{ .RelPermalink }}"
                  class="w-fit text-xl font-bold transition-colors duration-300 ease-in-out hover:text-red-700 sm:text-2xl"
                  >{{ .Title }}
                </a>
                <p class="font-inter text-neutral-600 sm:text-lg">
                  {{ .Description }}
                </p>
                <p class="font-inter text-sm text-neutral-500 sm:text-base">
                  {{ .Lastmod.Format "Jan 02, 2006" }}
                </p>
              </div>
            </div>
          {{ end }}
        </div>
      </div>

      <div class="flex w-full items-center justify-end">
        <a
          href="/writings"
          class="font-geist group flex items-center gap-x-4 text-lg font-medium tracking-tighter text-red-700! lg:text-xl"
        >
          View all writings
          <iconify-icon
            icon="material-symbols:arrow-right-alt-rounded"
            width="24"
            height="24"
            class="size-6 transition-transform duration-300 ease-in-out group-hover:translate-x-2"
          ></iconify-icon>
        </a>
      </div>
    </section>
  </section>
{{ end }}
