{{ define "main" }}

<!-- HERO START -->
<section>
  <!-- CHAOS PATTERN START -->
  {{ partial "components/chaos-pattern.html" . }}
  <!-- CHAOS PATTERN END -->

  <div class="w-full">
    <div class="site-container">
      <!-- Big Words -->
      <h1
        class="max-w-6xl text-4xl leading-tight font-light tracking-tight sm:text-5xl md:text-6xl md:leading-16 lg:text-7xl lg:leading-20"
      >
        <span class="font-semibold sm:font-bold">Streamlined systems</span>
        built through automation, data visualization,
        <br class="hidden xl:block" />
        and web development.
      </h1>
      <h2 class="max-w-2xl text-xl text-white/75 md:text-2xl">
        I'm Odhy, a Python enthusiast who loves automating workflows, analyzing
        and visualizing data, and sharing ideas through writing.
      </h2>

      <!-- CTAs START -->
      <div class="flex w-fit flex-wrap gap-4 font-medium">
        <a
          href="/services"
          class="flex w-fit items-center gap-x-2 rounded-lg border-2 border-teal-300/0 bg-teal-400 px-6 py-3 text-base font-semibold! text-teal-950! no-underline! transition-colors duration-300 ease-in-out hover:bg-teal-500"
        >
          <iconify-icon
            icon="material-symbols:work-update-rounded"
            width="20"
            height="20"
            class="size-5 text-teal-950"
          ></iconify-icon>
          View My Services</a
        >

        <a
          href="/writings"
          class="flex w-fit items-center gap-x-2 rounded-lg border-2 border-neutral-700/50 bg-neutral-900 px-6 py-3 text-base font-semibold! text-white no-underline! transition-colors duration-300 ease-in-out hover:border-teal-400"
        >
          <iconify-icon
            icon="material-symbols:potted-plant-rounded"
            width="20"
            height="20"
            class="size-5 text-teal-400"
          ></iconify-icon>
          Explore My Garden</a
        >
      </div>
      <!-- CTAs END -->
    </div>
  </div>
</section>
<!-- HERO END -->

<!-- FEATURED SERVICE START -->
<section class="mt-8">
  <div class="relative w-full">
    <div class="site-container">
      <h2 class="text-3xl font-medium md:text-4xl md:leading-16 lg:text-5xl">
        Services
      </h2>
      <h3 class="max-w-2xl text-xl text-white/75 md:text-2xl">
        I design tools and automation that simplify work, improve clarity, and
        help you move faster.
      </h3>

      <!-- SERVICES LIST START -->
      <div
        class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4 xl:gap-8"
      >
        {{ range where .Site.RegularPages ".Section" "services" | first 3 }}

        <!-- FEATURED SERVICES CARDS START -->
        {{ partial "service-cards/featured.html" . }}
        <!-- FEATURED SERVICES CARDS END -->

        {{ end }}

        <!-- MORE SERVICES -->
        {{ partial "service-cards/view-more.html" . }}
        <!-- MORE SERVICES -->
      </div>
      <!-- SERVICES LIST END -->
    </div>
  </div>
</section>
<!-- FEATURED SERVICE END -->

<!-- TESTIMONIALS START -->
<section class="mt-8 hidden">
  <div class="relative w-full">
    <div class="site-container">
      <h2 class="text-3xl font-medium md:text-4xl md:leading-16 lg:text-5xl">
        Testimonials
      </h2>
      <h3 class="max-w-2xl text-xl text-white/75 md:text-2xl">
        What my clients say about me and my work.
      </h3>

      <!-- REVIEW START -->
      <div
        class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 xl:gap-8"
      >
        <!-- TODO: update with actual testimonials -->
        <!-- REVIEW CARDS START -->
        {{ partial "testimonial-cards/base.html" . }}
        <!--  -->
        {{ partial "testimonial-cards/base.html" . }}
        <!--  -->
        {{ partial "testimonial-cards/base.html" . }}
        <!-- REVIEW CARDS END -->
      </div>
      <!-- REVIEW END -->
    </div>
  </div>
</section>
<!-- TESTIMONIALS END -->

<!-- FEATURED PROJECTS START -->
<section class="mt-8">
  <div class="relative w-full">
    <div class="site-container">
      <h2 class="text-3xl font-medium md:text-4xl md:leading-16 lg:text-5xl">
        Featured Projects
      </h2>
      <h3 class="max-w-2xl text-xl text-white/75 md:text-2xl">
        A selection of my most impactful projects—built to solve problems,
        improve efficiency, and explore new ideas.
      </h3>

      <!-- FEATURED PROJECT LIST START -->
      <div
        class="mt-8 grid grid-cols-1 gap-y-4 lg:grid-cols-2 lg:gap-8 2xl:grid-cols-3"
      >
        {{ $featuredProjects := where (where (where .Site.Pages ".Section"
        "projects") "Kind" "page") "Params.featured" true }} {{ range sort
        $featuredProjects "Date" "desc" }}

        <!-- PROJECT CARDS START -->
        {{ partial "project-cards/page-featured.html" . }}
        <!-- PROJECT CARDS END -->

        {{ end }}
      </div>
      <!-- FEATURED PROJECT LIST END -->
    </div>
  </div>
</section>
<!-- FEATURED PROJECTS END -->

<!-- WRITINGS START -->
<section class="mt-8">
  <div class="w-full">
    <div class="site-container">
      <h2 class="text-3xl font-medium md:text-4xl md:leading-16 lg:text-5xl">
        Writings
      </h2>
      <h3 class="max-w-2xl text-xl text-white/75 md:text-2xl">
        A growing collection of insights, explorations, and ideas in my Digital
        Garden. A place to share knowledge, spark curiosity, and document my
        journey.
      </h3>

      <!-- WRITINGS LIST START -->
      <div class="mt-16 columns-1 gap-4 md:columns-2 xl:columns-3">
        {{ range where .Site.RegularPages ".Section" "writings" }}
        <!-- WRITING CARDS START -->
        {{ partial "writing-cards/base.html" . }} {{ end }}
        <!-- WRITING CARDS END -->
      </div>
      <!-- WRITINGS LIST END -->
    </div>
  </div>
</section>
<!-- WRITINGS END -->
{{ end }}
