{{ define "main" }}
<!-- LANDING BACKGROUND START -->
<div class="absolute h-screen w-full">
  <!-- GRID PATTERN -->
  <div
    class="absolute inset-0 -z-50 bg-neutral-900 bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_3rem]"
  ></div>

  <!-- GRADIENT #1 -->
  <div
    class="absolute inset-0 -z-40 bg-gradient-to-r from-neutral-900 via-neutral-900/50 to-transparent"
  ></div>

  <!-- GRADIENT #2 -->
  <div
    class="absolute inset-0 -z-40 bg-gradient-to-b from-neutral-900 from-5% via-neutral-900/50 to-neutral-900/75"
  ></div>

  <!-- GRADIENT #3 -->
  <div
    class="absolute inset-0 -z-40 bg-gradient-to-t from-neutral-900 from-5% via-neutral-900/50 to-neutral-900/75"
  ></div>
</div>
<!-- LANDING BACKGROUND END -->

<!-- HERO START -->
<section class="relative mt-16">
  <div class="w-full">
    <div class="site-container">
      <h1
        class="max-w-6xl text-4xl leading-tight font-light tracking-tight sm:text-5xl md:text-6xl md:leading-16 lg:text-7xl lg:leading-20"
      >
        <span class="font-semibold sm:font-bold">Streamlined systems</span>
        built through automation, data visualization, and web development.
      </h1>
      <h2 class="max-w-2xl text-xl text-white/75 md:text-2xl">
        I'm Odhy, a Python enthusiast who loves automating workflows, analyzing
        and visualizing data, and sharing ideas through writing.
      </h2>
      <div>
        <a
          href="mailto:pradhana.odhy@gmail.com"
          target="_blank"
          class="group flex w-fit items-center gap-x-2 rounded-md border-2 border-neutral-800 bg-neutral-800 px-8 py-2 text-white/75 transition-all ease-in-out hover:border-neutral-600 hover:text-white"
        >
          <iconify-icon
            icon="material-symbols:mail-rounded"
            width="20"
            height="20"
            class="scale-100 transition-transform duration-300 ease-in-out group-hover:scale-0"
          ></iconify-icon>
          <iconify-icon
            icon="material-symbols:outgoing-mail-rounded"
            width="22"
            height="22"
            class="absolute scale-0 transition-transform duration-300 ease-in-out group-hover:scale-100"
          ></iconify-icon>
          <span>Get in Touch</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- HERO END -->

<!-- FEATURED PROJECTS START -->
<section class="mt-16">
  <div class="relative w-full">
    <div class="site-container">
      <h2 class="text-3xl font-medium md:text-4xl md:leading-16 lg:text-5xl">
        Featured Projects
      </h2>
      <h3 class="max-w-2xl text-xl text-white/75 md:text-2xl">
        A selection of my most impactful projects—built to solve problems,
        improve efficiency, and explore new ideas.
      </h3>

      <!-- FEATURED PROJECT LIST START -->
      <div
        class="mt-16 grid grid-cols-1 gap-y-4 lg:grid-cols-2 lg:gap-8 2xl:grid-cols-3"
      >
        {{ $featuredProjects := where (where (where .Site.Pages ".Section"
        "projects") "Kind" "page") "Params.featured" true }} {{ range sort
        $featuredProjects "Date" "desc" }}

        <!-- PROJECT CARDS START -->
        {{ partial "project-cards/page-featured.html" . }}
        <!-- PROJECT CARDS END -->

        {{ end }}
      </div>
      <!-- FEATURED PROJECT LIST END -->
    </div>
  </div>
</section>
<!-- FEATURED PROJECTS END -->

<!-- WRITINGS START -->
<section>
  <div class="w-full">
    <div class="site-container">
      <h2 class="text-3xl font-medium md:text-4xl md:leading-16 lg:text-5xl">
        Writings
      </h2>
      <h3 class="max-w-2xl text-xl text-white/75 md:text-2xl">
        A growing collection of insights, explorations, and ideas in my Digital
        Garden. A place to share knowledge, spark curiosity, and document my
        journey.
      </h3>

      <!-- WRITINGS LIST -->
      {{ range .Site.RegularPages }}

      <!--  -->
      {{ if eq .Section "writings" }}
      <div class="flex w-fit flex-col border p-2">
        <span>{{ .Title }}</span>
        <span>{{ .Description }}</span>
        <span>{{ .Params.type }}</span>
        <span>{{ .Params.stage }}</span>
        <div>
          {{- partial "terms.html" (dict "taxonomy" "categories" "page" .) -}}
        </div>
        <div>
          {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
        </div>
      </div>
      {{ end }}

      <!--  -->
      {{ end }}
    </div>
  </div>
</section>
<!-- WRITINGS END -->
{{ end }}
