<a
  data-topics="{{ delimit .Params.topics "," }}"
  href="{{ .RelPermalink }}"
  class="not-prose writing-card group mb-8 flex break-inside-avoid flex-col rounded-md border border-neutral-300 bg-neutral-50/50 transition-all ease-in-out hover:shadow-md"
>
  {{ with .Params.cover }}
    <img
      src="{{ . }}"
      alt="{{ $.Title }} Cover Image"
      class="max-h-64 rounded-t-md object-cover object-center"
    />
  {{ end }}
  <div class="flex flex-col gap-y-4 p-8">
    <h2
      class="shrink-0 font-semibold transition-colors ease-in-out group-hover:text-red-700"
    >
      {{ .Title }}
    </h2>
    <p class="grow text-sm text-neutral-900/60">{{ .Description }}</p>
    <div
      class="mt-2 flex shrink-0 items-center gap-x-4 text-sm text-neutral-900/60"
    >
      <p class="flex items-center gap-x-2">
        {{ partial "components/section-icon.html" . }}{{ .Params.section_type | title }}
      </p>
      <i data-lucide="dot" class="size-4"></i>
      <p class="flex items-center gap-x-2">
        {{ partial "components/stage-icon.html" . }}{{ .Params.stage | title }}
      </p>
    </div>
  </div>
</a>
