<table
  class="group-[sample] table-auto border-collapse [&_p]:my-0! [&_td]:border [&_td]:border-neutral-800 [&_td]:p-4 [&_tr]:p-4"
>
  <thead class="bg-neutral-800/25">
    <tr>
      <td>Icon</td>
      <td>Stage</td>
      <td>Completeness</td>
      <td>Description</td>
    </tr>
  </thead>

  <tbody>
    <!-- Sprout -->
    <tr>
      <td>
        <iconify-icon
          icon="tabler:seedling"
          width="20"
          height="20"
          class="inline size-5 text-teal-400"
        ></iconify-icon>
      </td>
      <td>Sprout</td>
      <td>0 &ndash; 49%</td>
      <td>
        Early-stage note with raw ideas or outlines. Not yet structured or
        complete.
      </td>
    </tr>

    <!-- Thriving -->
    <tr>
      <td>
        <iconify-icon
          icon="tabler:plant-2"
          width="20"
          height="20"
          class="inline size-5 text-teal-400"
        ></iconify-icon>
      </td>
      <td>Thriving</td>
      <td>50 &ndash; 89%</td>
      <td>
        Substantial content with a clear structure. Still improving or missing
        polish.
      </td>
    </tr>

    <!-- Evergreen -->
    <tr>
      <td>
        <iconify-icon
          icon="tabler:christmas-tree"
          width="20"
          height="20"
          class="inline size-5 text-teal-400"
        ></iconify-icon>
      </td>
      <td>Evergreen</td>
      <td>90 &ndash; 100%</td>
      <td>Complete, clear, and useful. Minimal edits needed going forward.</td>
    </tr>
  </tbody>
</table>
