{{ define "main" }}
  <section>
    <article class="mb-12">
      <h1 class="my-0! mb-2! leading-tight">{{ .Title }}</h1>

      <p class="my-0! text-sm text-neutral-500">
        <span class="font-medium">Updated:</span>
        <span
          class="relative-time"
          data-time="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}"
        >
          {{ .Lastmod.Format "Jan 02, 2006" }}
        </span>
      </p>
    </article>

    <div
      class="@container w-full 2xl:grid 2xl:grid-cols-[1fr_auto_1fr] 2xl:gap-x-12"
    >
      <div class="hidden py-2 2xl:block">
        {{ partial "components/toc.html" . }}
      </div>

      <article>{{ .Content }}</article>

      <div class="hidden"></div>
    </div>

    <div class="mt-16">
      {{ partial "components/giscus.html" . }}
    </div>
  </section>
{{ end }}
