<a href='{{ .Get "url" }}' class="group relative mt-4 mb-2">
  <iconify-icon
    icon='simple-icons:{{ .Get "name" | lower }}'
    width="32"
    height="32"
    class="size-8 p-1 text-white/75 transition-all ease-in-out group-hover:-translate-y-1 group-hover:text-white"
  ></iconify-icon>
  <span
    class="absolute -bottom-4 left-1/2 block w-fit -translate-x-[40%] scale-0 text-sm font-light whitespace-nowrap text-white capitalize transition-transform ease-in-out group-hover:scale-100"
    >{{- .Get "title" -}}</span
  >
</a>
