<div class="mb-16 flex gap-x-4">
  <div class="relative w-4 shrink-0 self-stretch">
    <!-- Circle -->
    <div
      class="absolute top-3 left-1/2 h-2 w-2 -translate-x-1/2 rounded-full bg-neutral-700"
    ></div>

    <!-- Line -->
    <div
      class="absolute top-3 left-1/2 -z-10 h-[calc(100%-1rem)] w-0.5 -translate-x-1/2 bg-neutral-800"
    ></div>
  </div>

  <div>
    <h3 class="mt-0!">{{ .Get "date" }}</h3>
    <div class="[&>p:last-child]:mb-0!">{{ .Inner | markdownify }}</div>
  </div>
</div>
